<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos em Destaque</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        .highlight-card .card-img-top {
            width: 100%;
            height: auto;
            max-height: 500px; 
            object-fit: cover;
            overflow: hidden
        }
    </style>
</head>
<body>
    <div class="container highlight-section">
        <h2 class="text-center mb-4">Produtos em Destaque</h2>   
        <div class="row">
            <div class="col-md-6">
                <div class="card highlight-card">
                    <img src="/images/camisetapreta.png" class="card-img-top img-fluid" alt="Produto 1">
                    <div class="card-body">
                        <h5 class="card-title">Camiseta Preta</h5>
                        <p class="card-text">Linda camiseta masculina.</p>
                        <a asp-controller="Camiseta" asp-action="Details" asp-route-camisetaId="1" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card highlight-card">
                    <img src="/images/camisetapretagata.webp" class="card-img-top img-fluid" alt="Regata Preta">
                    <div class="card-body">
                        <h5 class="card-title">Regata Preta</h5>
                        <p class="card-text">Linda camiseta regata masculina.</p>
                        <a asp-controller="Camiseta" asp-action="Details" asp-route-camisetaId="4" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
